.right-price-heading
{
    font-size: .9rem;
    color: #002F87;
}
.right-price-sub-heading
{
    color:#002F87;
    font-weight: bold;
    font-size: 2rem;
}
.sub-head
{
    color:#002F87;
    font-size: .5rem;
}
.right-price-last-heading
{
    font-size: .9rem;
    color: #002F87;
}
.right-price
{
    background-color: #95cae9;
    -webkit-border-top-left-radius: 57px;
    -webkit-border-bottom-right-radius: 57px;
    -moz-border-radius-topleft: 57px;
    -moz-border-radius-bottomright: 57px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}